# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: user_test
          POSTGRES_PASSWORD: password_test
          POSTGRES_DB: db_test
        ports:
          - 5432:5432
        # Wait for postgresql to be ready
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5    

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
      
      - name: Setup Python
        uses: actions/setup-python@v6.2.0
        with:
          # Version range or exact version of Python or PyPy to use, using SemVer's version range syntax. Reads from .python-version if unset.
          python-version: '3.12'
          cache: 'pip'

      - name: Install packages
        run: |
          pip install -r requirements.txt
          

      # Runs a single command using the runners shell
      - name: Runs dbt
        env:
          DBT_HOST: localhost
          DBT_USER: user_test
          DBT_PASS: password_test
          DBT_PORT: 5432
          DBT_DBNAME: db_test
          DBT_SCHEMA: analytics_forum
        run: dbt build
        working-directory: .

      - name: List files (Debug)
        if: always()
        run: |
          ls -R  # List files in the current folder

      - name: Upload a Build Artifact
        if: always()
        uses: actions/upload-artifact@v6.0.0
        with:
          # Artifact name
          name: dbt-build-results
          path: |
            logs/
            target/
          retention-days: 5
          
